<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <title>Starting a Business</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="#" class="navbar-brand">EMSB</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="/" class="nav-link">Starting A Business</a>
          </li>
          <li class="nav-item disabled">
            <a href="/Sales-Rep" class="nav-link disabled">Sales Rep</a>
          </li>
          <li class="nav-item disabled">
            <a href="/Professional-Sales" class="nav-link disabled"
              >Professional Sales</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div class="container" id="maincontainer">
      <br />
      <h2 class="text-center">Browse Forms</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>File Name</th>
            <th>Purpose</th>
            <th>File Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Change of Information</td>
            <td>Change Wrong Information on Student Registration Form</td>
            <td>
              <a href="/FilesForDownload/change_of_info.pdf">Download File</a>
            </td>
          </tr>
          <tr>
            <td>Deletion Form</td>
            <td>Delete Students From Your Class List</td>
            <td>
              <a href="/FilesForDownload/Deletion Form.pdf">Download File</a>
            </td>
          </tr>
          <tr>
            <td>Exam Request Form</td>
            <td>Paperwork Request Form for Modules: 4, 5 and 6</td>
            <td>
              <a
                href="/FilesForDownload/2017_Exam Request Form STARTING A BUSINESS.pdf"
                >Download File</a
              >
            </td>
          </tr>
          <tr>
            <td>Field Trip Form</td>
            <td>
              When Class is Replaced by An Event Outside the Community Centre
            </td>
            <td>
              <a href="/FilesForDownload/FieldTripReq.pdf">Download File</a>
            </td>
          </tr>
          <tr>
            <td>Flagging Form</td>
            <td>
              Letting Administration Know About Students Who Are Having
              Difficulties
            </td>
            <td><a href="/FilesForDownload/Heads up.pdf">Download File</a></td>
          </tr>

          <tr>
            <td>Re-Instatement Form</td>
            <td>Re-Instating Students Who Have Previously Been Deleted</td>
            <td>
              <a
                href="/FilesForDownload/Reinstatement FORM FOR COMMUNITY PARTNERS-SN.pdf"
                >Download File</a
              >
            </td>
          </tr>

          <tr>
            <td>Student Addition Form</td>
            <td>
              Adding Students To Your Class Who Are Not On Your Class List
            </td>
            <td>
              <a href="/FilesForDownload/Student Addition form.pdf"
                >Download File</a
              >
            </td>
          </tr>
        </tbody>
      </table>

      <a href="/" class="btn btn-primary">Return Home</a>

      <br />
    </div>
  </body>

  <footer>
    <div class="footer-copyright text-center py-3">
      © 2018 Copyright: Steven Anthony Zanga
    </div>
  </footer>

  <style>
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #212529;
      color: white;
      text-align: center;
    }

    body {
      min-height: 400px;
      margin-bottom: 100px;
      clear: both;
    }
  </style>
</html>
