<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <title>Starting a Business</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="#" class="navbar-brand">EMSB</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="/" class="nav-link">Starting A Business</a>
          </li>
          <li class="nav-item disabled">
            <a href="/Sales-Rep" class="nav-link disabled">Sales Rep</a>
          </li>
          <li class="nav-item disabled">
            <a href="/Professional-Sales" class="nav-link disabled"
              >Professional Sales</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div class="container" id="maincontainer">
      <br />
      <h2 class="text-center">Contact Information</h2>
      <br />

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Rachel Rubbo</td>
            <td>Department Head SAB</td>
            <td>rrubbo@emsb.qc.ca</td>
            <td>514-999-7558</td>
          </tr>
          <tr>
            <td>Fawzi Assi</td>
            <td>Department Head SAB</td>
            <td>fassi@emsb.qc.ca</td>
            <td>514-123-1234</td>
          </tr>
          <tr>
            <td>Roseanne Rinaldi</td>
            <td>Student Registration</td>
            <td>rrinaldi@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Nicolina Tiburcio</td>
            <td>Loans and Bursaries</td>
            <td>ntiburcio@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Nancy Fiorino</td>
            <td>Appointments for Pick up / Drop Off Exams</td>
            <td>nfiorino@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Jessica Belmonte</td>
            <td>Exams</td>
            <td>jbelmonte@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Rosana Rose Salvagio</td>
            <td>Exams</td>
            <td>rsalvagio@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Wilson Lee</td>
            <td>Student Files</td>
            <td>wlee3@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Ken Yu-ng</td>
            <td>Manager</td>
            <td>kyu-ng@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Maria Caldarella</td>
            <td>Centre Vice Principal</td>
            <td>mcaldarella@emsb.qc.ca</td>
            <td>514-381-0677</td>
          </tr>
          <tr>
            <td>Alice Sideropoulos</td>
            <td>Centre Principal</td>
            <td>asideropoulos@emsb.qc.ca</td>
            <td>514-381-5440</td>
          </tr>
          <tr>
            <td>Daniela Borzacchini</td>
            <td>Staffing</td>
            <td>dborzacchini@emsb.qc.ca</td>
            <td>514-483-7200 ext. 7537</td>
          </tr>
          <tr>
            <td>Angela Ficara</td>
            <td>Payroll</td>
            <td>aficara@emsb.qc.ca</td>
            <td>514-483-7200 ext. 7525</td>
          </tr>
          <tr>
            <td>Iolanda Agostino</td>
            <td>Scheduling</td>
            <td>iagostino@emsb.qc.ca</td>
            <td>514-483-7200 ext. 7334</td>
          </tr>
          <tr>
            <td>Harriet Cohen</td>
            <td>Program/Exams</td>
            <td>hcohen@emsb.qc.ca</td>
            <td>514-483-7200 ext. 7377</td>
          </tr>
        </tbody>
      </table>

      <a href="/" class="btn btn-primary">Return Home</a>
    </div>
  </body>
  <br />
  <br />
  <br />
  <br />

  <footer>
    <div class="footer-copyright text-center py-3">
      © 2018 Copyright: Steven Anthony Zanga
    </div>
  </footer>

  <style>
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #212529;
      color: white;
      text-align: center;
    }

    body {
      min-height: 400px;
      margin-bottom: 100px;
      clear: both;
    }
  </style>
</html>
